*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    background-color: #0a2d4d;
    border-radius: 0px 0px 146px 180px;
    -webkit-border-radius: 0px 0px 146px 180px;
    -moz-border-radius: 0px 0px 146px 180px;
}
input.largerCheckbox {
    width: 30px;
    height: 20px;
}
#randombtn{
    border: 2px solid grey;
}
#refreshbtn{
    font-size: 1.5rem;
    cursor: pointer;
}
#lengthbar{
    cursor: pointer;
}